#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "windows.h"

#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
#	ifdef _WIN32
		LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#		pragma code_page(936)
#	endif //_WIN32

#	ifdef APSTUDIO_INVOKED

	1 TEXTINCLUDE 
	BEGIN
		"resource.h\0"
	END

	2 TEXTINCLUDE 
	BEGIN
		"#include ""windows.h""\r\n"
		"\0"
	END

	3 TEXTINCLUDE 
	BEGIN
		"\r\n"
		"\0"
	END

#	endif

	IDI_ICON_MAIN ICON "icon.ico"

	VS_VERSION_INFO VERSIONINFO
	FILEVERSION 1,2,0,0
	PRODUCTVERSION 1,2,0,0
	FILEFLAGSMASK 0x17L
#	ifdef _DEBUG
	FILEFLAGS 0x1L
#	else
	FILEFLAGS 0x0L
#	endif
	FILEOS 0x4L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "080404b0"
			BEGIN
				VALUE "Comments", "For more information, see https://github.com/paladin-t/my_basic/."
				VALUE "CompanyName", "Wang Renxin"
				VALUE "FileDescription", "MY-BASIC Interpreter for Windows"
				VALUE "FileVersion", "1, 2, 0, 0"
				VALUE "InternalName", "my_basic"
				VALUE "LegalCopyright", "Copyright (C) 2011 - 2019 Wang Renxin"
				VALUE "LegalTrademarks", "MY-BASIC"
				VALUE "OriginalFilename", "my_basic.exe"
				VALUE "ProductName", "MY-BASIC"
				VALUE "ProductVersion", "1, 2, 0, 0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x804, 1200
		END
	END

#endif

#ifndef APSTUDIO_INVOKED

#endif
